@tailwind base;

@tailwind components;

@tailwind utilities;


@font-face {
    font-family: 'Circular Std';
    src: url('font/circular.ttf') format('truetype');
  }

body {
    font-family: 'Circular Std', sans-serif;
    padding-top: 70px;
  }